
body {
	background-color: #f5f5f5;
	width: 35cm;
	margin: 0 auto;
	font-family: Verdana, Arial, Tahoma, sans-serif;
}

fieldset {
	text-align: center;
	background-color: #ADD8FF;
}

table {
	background-color: white;
	border: 1px solid black;
}

th{
	background-color: #ADD8ff;
	height: 30px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
	background-color: #ADD8ff;
}

td {
	height: 30px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

input[type="text"] {
	width: 1000px;
	height: 40px;
	font-size: 32px;
}

input[type=submit] {
	width: 100px;
	height: 35px;
	font-size: 25px;
}

p {
	background-color: #ADD8FF;
}

